name: Deploy website on push

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy Laravel via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: 157.173.208.21
          username: u158914145.blackin
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          protocol: ftp
          server-dir: /public_html/
          passive: true